@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin:auto;
}





header{
	height:70px;
	
}


#post{
	width:1200px;
	
}

#userInfo{
	 vertical-align: top;
	 height:40px;
}

#postPicture{
	width:500px;
	height:500px;
}
#description{
	width:500px;
	height:100px;
	word-break:break-all;
}

.content{
	height:500px;
}

.content> .join-box{
	width:400px;
	
}


.login-box{
	width:400px;
}

footer{
	height:50px;
}